<header th:fragment="header">
    <div class="central clearfloat">
            <a href="/">
                <img src="/web/html/images/logo@2x.png" alt="">
            </a>
            <ul>
                <li>
                    <a href="/index" title="">首页</a>
                </li>
                <li>
                    <a title="">定制化服务</a>
                    <div class="dropdown" style="width: 180px;height: 175px">
                        <div class="dropdown-list">
                            <div><a href="/product-customization" title="">产品定制</div>
                            <div><a href="/design" title="">视觉设计</a></div>
                            <div><a href="/app" title="">应用定制开发</a></div>
                            <div><a href="/operations" title="">应用运维服务</a></div>
                        </div>
                        <span></span>
                    </div>
                </li>
                <li>
                    <a title="">标准化服务</a>
                    <div class="dropdown">
                        <div class="dropdown-list">
                            <div class="title">金融软件</div>
                            <div><a href="/financial-system" title="">互联网金融系统</div>
                            <div><a href="/insure-agent" title="">保险代理系统</a></div>
                            <div><a href="/service" title="">财富管理系统</a></div>
                            <div><a href="/smart-control" title="">智能风控系统</a></div>
                            <div><a href="/offline-sales" title="">线下销售系统</a></div>
                            <div><a href="/a-ems" title="">A-EMS系统</a></div>
                        </div>
                        <div class="dropdown-list clearfloat">
                            <div class="title">专向软件</div>
                            <div><a href="/emip" title="">企业建站系统</a></div>
                            <div><a href="/score-mall" title="">积分商城系统</a></div>
                            <div><a href="/oa-system" title="">办公OA系统</a></div>
                        </div>
                        <span></span>
                    </div>
                </li>
                <li>
                    <a href="/content/article/articleListAll" title="">关于我们</a>
                </li>
                <li>
                    <a title="">加入我们</a>
                    <div class="dropdown" style="width: 180px;height: 110px;padding-left:65px;">
                        <div class="dropdown-list">
                            <div><a href="/content/recruit/recruitListAll" title="">加入我们</div>
                            <div><a href="/contact" title="">联系我们</a></div>
                        </div>
                        <span></span>
                    </div>
                </li>
            </ul>
        </div>
</header>