<head th:fragment="head">
	<title>中尊汽车 不忘初心 货真价实 畅达幸福</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="中尊汽车,机修,钣金,喷漆,美装" />
	<meta name="description" content="中尊汽车以领创性，共享性，包容性、全面性，专业性五大核心优势，开创全新的汽车后市场服务时代为广大车友提供囊括汽车销售、保养、维修、保险、美装、托管等24小时贴身管家服务。">
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<link href="/web/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<link href="/web/css/style.css" rel='stylesheet' type='text/css' />
	<script src="/web/js/jquery.min.js"></script>
	<script src="/web/js/bootstrap.js"></script>
	<!---- start-smoth-scrolling---->
	<script type="text/javascript" src="/web/js/move-top.js"></script>
	<script type="text/javascript" src="/web/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!--start-smoth-scrolling-->
</head>
