<!--start-teacher-->
<div class="teacher" th:fragment="partner" >
    <div class="container">
        <div class="teacher-top">
            <h3>合作伙伴</h3>
        </div>
        <div class="teacher-main">
            <div class="teacher-left">
                <img src="/web/images/part-qtv.png" alt="" />
                <h4>青岛广电</h4>
            </div>
            <div class="teacher-left">
                <img src="/web/images/part-weacar.jpg" alt="" />
                <h4>蔚车</h4>
            </div>
            <div class="teacher-left">
                <img src="/web/images/part-zhichuang.png" alt="" />
                <h4>创智融信地产</h4>
            </div>
            <div class="teacher-left">
                <img src="/web/images/part-cpic.jpg" alt="" />
                <h4>太平洋保险</h4>
            </div>
            <div class="teacher-left">
                <img src="/web/images/part-pingan.jpg" alt="" />
                <h4>中国平安</h4>
            </div>
            <div class="teacher-left">
                <img src="/web/images/part-picc.jpg" alt="" />
                <h4>中国人民保险</h4>
            </div>
            <div class="teacher-left">
                <img src="/web/images/part-ycbx.jpg" alt="" />
                <h4>永诚保险</h4>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--end-teacher-->