html,
body{
    padding: 0;
    margin: 0;
    background: #3c77f0;
}
.clearfix{
    clear: both;
    display: table;
}

.page{
    width: 10rem;
    font-size: 0.3733rem;
}
.page-img{
    margin: 0;
    border: 0;
    width: 100%;
    display: block;
}
.page-form{
    box-sizing: border-box;
    padding: 0 1.013333rem /* 76/75 */ .4rem /* 30/75 */;
    background: #3c77f0;
}
.form-control{
    box-sizing: border-box;
}
.form-control .form-field{
    width: 100%;
    box-sizing: border-box;
    height: 1.173333rem /* 88/75 */;
    box-shadow:  0px 7px 3px #1c3b77; ;
    background: #fff;
    border-radius: .266667rem /* 20/75 */;
    margin-top: .373333rem /* 28/75 */;
    margin-bottom: .133333rem /* 10/75 */;
}
.field-select{
    width: 100%;
    font-size: .32rem /* 24/75 */
}
.form-field input,
.form-field select,
.form-field .form-btn{
    width: 100%;
    background: #fff;
    display: block;
    box-sizing: border-box;
    font-size: .346667rem /* 26/75 */;
    height: 1.173333rem /* 88/75 */; 
    line-height: 0.64rem;
    padding: .266667rem /* 20/75 */ .4rem /* 30/75 */;
    border: 0;
    border-radius: .266667rem /* 20/75 */;
    color: #999;
}
.form-field .form-btn{
    background: #ffa705;
    padding: 0;
    text-align: center;
    font-size: .4rem /* 30/75 */;
    color: #fff;
    border: 0;
}
.swal2-container,.swal2-show{
    font-size: 14px;
}

label.error{
    width: 100%;
    color: #e40000;
    text-shadow: 1px 1px 2px #b1c7ef;
    display: block;
}

#address .form-field{
    display: flex;
}
#address .form-field > select{
    padding-right: 0;
    -webkit-appearance:none;
    appearance:none;
}