<footer >
	<div class="clearfloat">
		<div class="mansite">
			<div class="name">
				漫斯特-金融软件和网络服务供应商
				<span>
				</span>
			</div>
			<p>致力于以信息技术的创新，推动社会发展，创造美好生活为全球客户提供专业的数字化产品咨询、交互体验、技术实施与运营服务。</p>
			<div class="address">山东省青岛市市南区东海西路31号保时捷大厦8楼</div>
		</div>
		<div class="dz-service">
			<div class="tit">定制化服务</div>
			<ul>
				<li><a href="./product-customization.html" title="">产品定制</a></li>
				<li><a href="./design.html" title="">视觉设计</a></li>
				<li><a href="./app.html" title="">应用定制开发</a></li>
				<li><a href="./operations.html" title="">应用运维服务</a></li>
			</ul>
		</div>
		<div class="dz-service clearfloat">
			<div class="tit">定制化服务</div>
			<ul>
				<li><a href="./insure-agent.html" title="">保代系统</a></li>
				<li><a href="./financial-system.html" title="">P2P系统</a></li>
				<li><a href="./emip.html" title="">企业建站</a></li>
				<li><a href="./score-mall.html" title="">积分商城</a></li>
				<li><a href="./oa-system.html" title="">OA系统</a></li>
			</ul>
			<ul>
				<li><a href="./smart-control.html" title="">智能风控系统</a></li>
				<li><a href="./offline-sales.html" title="">线下销售系统</a></li>
				<li><a href="./a-ems.html" title="">A-EMS系统</a></li>
				<li><a href="./wealth-management.html" title="">财富管理系统</a></li>
			</ul>
		</div>
		<div class="dz-service">
			<div class="tit">关于我们</div>
			<ul>
				<li><a href="./content/web/aboutus.html" title="">关于我们</a></li>
			</ul>
		</div>
		<div class="dz-service">
			<div class="tit">加入我们</div>
			<ul>
				<li><a href="./content/web/join.html" title="">加入我们</a></li>
				<li><a href="./content/web/news.html" title="">招贤纳士</a></li>
				<li><a href="./contact.html" title="">联系我们</a></li>
			</ul>
		</div>
	</div>
	<div class="icp">
		Copyright © 2019 青岛漫特斯数字科技有限公司 鲁ICP备09067228号-21
	</div>
</footer>