<header>
	<div class="central clearfloat">
		<a href="/">
			<img src="web/html/images/logo@2x.png" alt="">
		</a>
		<ul>
			<li>
				<a href="./index.html" title="">首页</a>
			</li>
			<li>
				<a href="./product-customization.html" title="">定制化服务</a>
			</li>
			<li>
				<a href="./service.html" title="">标准化服务</a>
				<div class="dropdown">
					<div class="dropdown-list">
						<div class="title">金融软件</div>
						<div><a href="./financial-system.html" title="">互联网金融系统</div>
						<div><a href="./insure-agent.html" title="">保险代理系统</a></div>
						<div><a href="./wealth-management.html" title="">财富管理系统</a></div>
						<div><a href="./smart-control.html" title="">智能风控系统</a></div>
						<div><a href="./offline-sales.html" title="">线下销售系统</a></div>
						<div><a href="./a-ems.html" title="">A-EMS系统</a></div>
					</div>
					<div class="dropdown-list clearfloat">
						<div class="title">专向软件</div>
						<div><a href="./emip.html" title="">企业建站系统</a></div>
						<div><a href="./score-mall.html" title="">积分商城系统</a></div>
						<div><a href="./oa-system.html" title="">办公OA系统</a></div>
					</div>
					<span></span>
				</div>
			</li>
			<li>
				<a href="./content/web/aboutus.html" title="">关于我们</a>
			</li>
			<li>
				<a href="./content/web/join.html" title="">加入我们</a>
			</li>
			<li>
				<a href="./index.html" title="">上海专题</a>
			</li>
		</ul>
	</div>
</header>